/* This file is for your main application css. */
@import "bootstrap";
@import './reset';

$accent: rgb(21, 174, 182);
$dark-accent: #11888e;
$gray: #e6e6e6;
$gray-dark: #717171;
$red: #e01010;

body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: rgb(248, 248, 248);
    color: black;
    min-height: 100vh;
    position: relative;
}

a {
  color: $accent;
}

sub {
  bottom: -.5em;
  left: .1em;
  font-size: 60%;
}

main {
  max-width: 65%;
  margin: 0 auto;
}


.app {
  min-height: 100vh;
}

.page-shell {
  max-width: 1200px;
  margin: 0 auto;
}

#root {
  min-height: 100vh;
}

.buton {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.welcome-splash {
  min-height: 100vh;
  background-color: #7956ec;
  background: linear-gradient(135deg, #7956ec 0%, #2fb9f8 100%);
}

.dashboard {
  &__msg {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    z-index: 999999;
  }
}
.welcome {
  color: white;
  position: relative;

  &__left {
    width: 55%;
  }

  &__app {
    display: flex;
    padding-top: 100px;
  }

  &__appimg {
    width: 100px;
    height: 100px;
  }

  &__ios {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  &__apple-logo {
    height: 55px;
    margin-right: 5px;
    position: relative;
    top: -5px;
  }

  &__on-appstore {
    align-items: center;
  }

  &__appstore {
    font-size: 1.5rem;
  }

  &__header {
    font-size: 4rem;
    color: white;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-top: 100px;
  }

  &__support {
    font-size: 2rem;
    color: white;
    margin-top: 15px;
  }

  &__links {
    margin-top: 100px; 
    display: flex;
    align-items: center;
  }

  &__login {
    @extend .buton;

    background-color: #03a009 !important;
    border-color: #6284f1 !important;
    color: black;
    font-weight: 800;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.3);
  }

  &__login-meme {
    height: 30px;
  }

  &__register {
    @extend .buton;

    background-color: rgba(255,255,255,0.3);

    color: white;
    font-weight: 800;
    height: 44px;
    display: block;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  &__disclaimers {
    margin-top: 200px;
    line-height: 2rem;
  }

  &__right {
    width: 570px;
    height: 503px;
    align-self: center;
    right: 0;
    top: 25%;
    position: absolute;
  }

  &__doggo {
    width: 570px;
    align-self: center;
    right: 0;
    top: 5%;
    position: absolute;
  }

  &__yao {
    width: 500px;
    align-self: center;
    right: 0;
    top: 5%;
    position: absolute;
  }
}

.menu {
  color: white;
  box-shadow: 0 -2x 3px rgba(0,0,0,0.25);
  height: 100px;
  position: absolute;
  width: 100vw;
  bottom: 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__profile {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 35px;
    left: 15px;
  }

  &__profile-img {
    background: linear-gradient(135deg, #82ec56 0%, #268c14 100%);
    border-radius: 50px;
    height: 100px;
    border: 2px solid white;
    cursor: pointer;
  }

  &__create-meme {
    width: 170px;
    height: 50px;
    display: flex;
    padding: 0 11px 0 7px;
    align-items: center;
    border-radius: 10px;
    color: black;
    background: linear-gradient(135deg, #82ec56 0%, #268c14 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    top: 0;
    cursor: pointer;
  }

  &__create-img {
    height: 35px;
    margin-right: 5px;
  }

  &__logout {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -65px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(135deg, #f31818 0%, #921919 100%);
    padding: 0 11px 0 7px;
    border-radius: 10px;
    height: 40px;
    font-size: 0.8rem;
  }

  &__logout-img {
    height: 30px;
    margin-right: 5px;
  }

  &__dankness {
    position: absolute;
    bottom: 0;
    height: 24px;
    background: red;
    width: 100vw;
  }
}

.dashboard {
  height: 100vh;
}

.player-marker {
  height: 50px;
  position: relative;
  z-index: 50;
}

.player-memeBoundary {
  fill: rgba(red,0.2);
  height: 300px;
  position: absolute;
  top: -116px;
  left: -116px;
}

.meme-marker {
  height: 30px;
  position: relative;
  z-index: 10000;
  cursor: pointer;
}

footer {
  width: 100%;
  margin: 100px auto;
  margin-bottom: 0;
}

.footer__content {
  margin: 0 auto;
  border-top: 2px solid $gray;
  padding: 5px 0;

  > p {
    margin-bottom: 0;
  }
}

.footer__author {
  display: inline-block;
}

.footer__user {
  float: right;
  margin-right: 20px;
}

.footer__logout {
  float: right;
}

.footer__content > p {
  margin-bottom: 0;
}

.btn-primary {
  background-color: $accent !important;
  border-color: $accent !important; 
}


.login {
  &__copy {
    font-size: 1.2rem;
    padding: 0 25px;
  }

  &__login {
    display: flex;
    flex-wrap: wrap;
    padding-top: 165px;
  }

  &__sign {
    flex-basis: 100%;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__personal {
    flex-basis: 100%;
    font-size: 1.75rem;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  &__input {
    flex-basis: 90%;
    margin: 1% 0;
    padding: 10px 10px;
    border-radius: 4px;
    border: 2px solid #529bf5;
    background: linear-gradient(110deg, #6e6fef 0%, #529bf5 100%);
    font-weight: 800;
    color: white;
  }
  
  &__input::placeholder {
    color: white;
  }

  &__input-reg {
    flex-basis: 80%;
    margin: 1% 10%;
    padding: 10px 10px;
    border-radius: 4px;
    border: 2px solid $gray;
  }

  &__butons {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 25px !important;
  }

  &__btn {
    background-color: #03a009 !important;
    border-color: #6284f1 !important;
    color: black;
    font-weight: 800;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
  }

  &__create {
    @extend .buton;

    background-color: rgba(255,255,255,0.3);
    color: white;
    font-weight: 800;
    height: 44px;
    display: block;
    display: flex;
    align-items: center;
  }
}

.createMemeForm {

  .tab-header {
    display: flex;
    align-items: left;
    flex-direction: row;
    height: 50px;
    width: 100%;

    .tab {
      flex: 1;
      color: black;
      font-size: 24px;
    }
  
    .active-tab, .tab:hover{
      color: $red;
      border-bottom: 5px solid $red;
    }
  }

  .template-selector {
    height: 80px;
    width: 100%;
    overflow-y: none;
    overflow-x: scroll;
    
    &-template {
      padding: 5px;
      width: 50px;


      img {
        height: 50px;
      }
    }
  }
}

.collected-meme-form {
  .collected-meme-form-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
  }

  .collected-meme-form-meme-container {
    display: flex;
    justify-content: space-around;
    border-top: 3px dashed rgba(green, 0.2);
    margin-top: 20px;
    padding-top: 25px;
    flex-wrap: wrap;
  }

  .collected-meme-form-entry {
    padding: 5px;
  }
}
.meme-viewer {
  height: 200px;
  width: 200px;
  position: relative;
  z-index: 99999;

  img {
    width: 100%;
  }

  .text-line-one, .text-line-two {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .text-line-one {
    top: 5px;
  }

  .text-line-two {
    bottom: 5px;
  }

  .giphy-memes {
    img {
      width: 200px;
      padding: 5px;
    }
  }
}

.modalCloseButton {
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

